body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* 로고 이미지와 제목 정렬 */
.header {
    display: flex;
    align-items: center; /* 세로로 가운데 정렬 */
    justify-content: center;
    gap: 10px; /* 제목과 로고 사이의 간격 */
}

/* 로고 이미지 크기 조정 */
.logo {
    width: 40px; /* 로고 너비를 줄임 */
    height: 40px; /* 로고 높이를 줄임 */
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#buildingContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.line {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.room {
    border: 1px solid #ccc;
    padding: 10px;
    width: 50px;
    text-align: center;
    margin: 2px;
}

.high {
    background-color: red;
}

.low {
    background-color: green;
}

#apartment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.resultContent {
    display: none;
}

#data-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#data-table th, #data-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
/* 입력값이 없는 방에 대한 스타일 */
.no-value {
    background-color: white;
    color: black;
}
